/* FONTS */
@font-face {
    font-family: "Poppins";
    src: url("Poppins-Bold.woff2") format("woff2"),
        url("Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("Poppins-SemiBold.woff2") format("woff2"),
        url("Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("Poppins-Medium.woff2") format("woff2"),
        url("Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("OpenSans-Regular.woff2") format("woff2"),
        url("OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/*CUSTOM PROPERTIES*/
:root{
    --text-color: #151515;
    --green-color: #6a983c;
    --white: #fff;
    --dim-grey: #575757;
    --snow: #a9a9a9;
    --light-grey: #f9f9f9;
    --cards-bg: #f4f8ec;

    --open-sans: "Open Sans", "Arial", sans-serif;
}


/*GLOBAL STYLES*/
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-color);
  font-family: "Poppins", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}


/* CONTAINER */
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */

/* SITE-HEADER-TOP */
.site-header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--open-sans);
  padding: 16px 0;
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
}

.site-header__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-header__list--chat .site-header__icon:not(:last-child){
  margin-right: 33px;
}


.site-header__link {
  color: var(--green-color);
  text-decoration: none;
}

.site-header__link--number, .site-header__link--email{
  color: var(--text-color);
}


.site-header__list--info .site-header__icon:not(:last-child){
  margin-right: 38px;
}


/* SITE-HEADER-MENU */
.site-header__menu {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin: 40px 0;
}

.logo {
  margin-right: 158px;
}

.logo-img {
  display: block;
}

.site-header__form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 500px;
  margin-right: 50px;
  background-color: var(--light-grey);
  border-radius: 12px;
  border: 1px solid #d1d1d1;
}

.site-header__categories{
  margin: 10px 24px 10px 16px;
  font-weight: bold;
  border: none;
  background-color: var(--light-grey);
  outline: none;
}

.site-header__search {
  margin-right: 16px;
  padding: 2px 12px 2px 24px;
  flex-grow: 1;
  border: none;
  border-left: 1px solid #d1d1d1;
  background-color: var(--light-grey);
  outline: none;
  font-family: var(--open-sans);
}

.site-header__search-btn{
  display: flex;
  margin-right: 16px;
  padding: 8px;
  border: none;
  background-color: var(--light-grey);
  outline: none;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
}

.site-header__purchase-information{
  display: flex;
  align-items: start;
  margin-left: auto;
}

.site-header__profil, .site-header__bought{
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.site-header__profil {
  margin-right: 40px;
  background-image: url("../images/user-account.svg");
}

.site-header__bought {
  background-image: url("../images/pocket.svg");
  position: relative;
}

.site-header__bought-info {
  position: absolute;
  width: 16px;
  height: 16px;
  color: var(--white);
  top: 14px;
  right: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  background: #E6704B;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

/* SITE-HEADER__BOTTOM */
.site-header__bottom {
  background-color: var(--light-grey);
  
}

.site-header__list--kind-of-products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
} 

.site-header__products {
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px 0;
}

.site-header__products:not(:last-child) {
  margin-right: 40px;
}

.site-header__products::after{
  margin-left: 4px;
  width: 10px;
  height: 6px;
  background-image: url("../images/arrow-bottom.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.site-header__name-products {
  white-space: nowrap;
  color: var(--text-color);
  text-decoration: none;
  font-size: 15px;
  line-height: 1.46;
  font-weight: 500;
}

.site-header__products:hover .site-header__dropdawn-menu{
  display: block;
}

.site-header__dropdawn-menu {
  display: none;
  position: absolute;
  z-index: 1;
  list-style-type: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-weight: normal;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}


.site-header__dropdawn-link {
  text-decoration: none;
  color: #e6704b;
}



/* BUTTON */
/* .button {
  display: inline-block;
  padding: 11px 40px;
  border: 3px solid transparent;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 25px;
  font-family: var(--heading-font-stack);
  font-weight: bold;
  background-color: var(--yellow);
  color: #fff;
  white-space: nowrap;
}

.button:hover {
  border-color: var(--yellow);
  background-color: transparent;
  color: var(--yellow);
}

.button:active {
  opacity: 0.6;
}


/* SITE-HEADER */
/*.site-header {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  font-family: var(--heading-font-stack);
  font-weight: bold;
}

.site-header__container {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

/* SITENAV */
/*.sitenav {
  display: flex;
  align-items: center;
}

.site-header__top {
  margin-right: 60px;
}

.site-header__logo {
  flex-shrink: 0;
  display: block;
}

/* LOGO */
/*.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
}

/* SITE-HEADER-MENU-TOGGLER */
/*.site-header__menu-toggler {
  display: none;
}

/* SITE-HEADER-OFF-CANVAS */
/*.site-header__off-canvas {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  color: var(--dim-grey);
}

.sitenav__link:hover {
  color: var(--yellow);
}

.sitenav__link:active {
  opacity: 0.6;
}

.site-header__button {
  margin-left: 32px;
}


/* RESPONSIVENESS */
/*@media only screen and (max-width: 715px) {
  .site-header--open {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .site-header__top {
    margin-right: 0;
  }

  .sitenav {
    justify-content: center;
  }

  .site-header__menu-toggler {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 19px;
    height: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    outline-offset: 10px;
  }

  .site-header__menu-toggler::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 54px;
    content: "";
  }

  .site-header--open .site-header__menu-toggler {
    background-image: url("../img/icon-menu-close.svg");
  }

  .site-header__off-canvas{
    display: none;
    background-color: #333a44;
  }

  .site-header--open .site-header__off-canvas {
    position: absolute;
    left: 0;
    top: 69px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 69px);
    padding: 32px;
    padding-top: 64px;
  }

  .sitenav__list {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .site-header__button {
    margin-left: 0;
  }
} 